<h1>This is my first ever ruby on rails app</h1>


<h2>Pictures</h2>

<% @pictures.each do |picture| %>
  <p><%= picture.title %>, <%= picture.artist %></p>
  <img src="<%= picture.url %>">
<% end %>
