<div class="picturegrid">

<% @pictures.each do |picture| %>
<div class="picture">
  <div class="picturewrapper">
    <img src="<%= picture.url %>">
  </div>
  <p><%= picture.title %>, <%= picture.artist %></p>
</div>
<% end %>

</div>
