<div class="picturegrid">

<% @pictures.each do |picture| %>
<div class="picture">

  <div class="picturewrapper">
    <img src="<%= picture.url %>">
  </div>

  <div class="textwrapper">
  <p><%= picture.title %>, <%= picture.artist %></p>
  </div>

</div>
<% end %>

</div>
