 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed,
 figure, figcaption, footer, header, hgroup,
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
 	margin: 0;
 	padding: 0;
 	border: 0;
 	font-size: 100%;
 	font: 12px Helvetica, Arial, Garuda, sans-serif;
 	vertical-align: baseline;
 }
 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section {
 	display: block;
 }
 body {
 	line-height: 1;
 }
 ol, ul {
 	list-style: none;
 }
 blockquote, q {
 	quotes: none;
 }
 blockquote:before, blockquote:after,
 q:before, q:after {
 	content: '';
 	content: none;
 }
 table {
 	border-collapse: collapse;
 	border-spacing: 0;
 }
 *,
 *::before,
 *::after {
   box-sizing: border-box;
 }
 /*END OF RESET*/




/*HEADER AND LOGO*/




header {
  text-align: center;
}

#logo {
  display: inline-block;
  font-size: 42px;
  font-weight: 800;
  font-family: 'Indie Flower', cursive;
  border-bottom: solid;
  border-top: solid;
  border-width: 3px;
  padding: 0px 35px 2px;
  margin: 16px 0px 20px;
}

header ul {
  display: inline-flex;
  position: absolute;
  top: 42px;
  right: 14%;
}

header ul a {
  font-family: 'Indie Flower', cursive;
  color: grey;
  list-style-type: none;
  font-size: 17px;
}

header ul p {
  position: relative;
  bottom: 4px;
  margin: 0px 5px;
  font-size: 25px;
}

header a {
  font-size: 10px;
  text-decoration: none;

}


/*PICTURE GRID*/



.picturegrid {
  width: 75%;
  margin: 0px auto;
}

.picture {
  display: inline-block;
  height: 403px;
  margin: 5px;
  width: 32%;
  overflow: hidden;
  position: relative;
  box-shadow: 7px 10px 9px rgba(0,0,0,0.30);
  transition: all 0.3s ease-in-out;
}

.picture:hover {
  box-shadow: 19px 19px 9px rgba(0,0,0,0.35);
  transform: scale(1.05, 1.05);
  transition: all 0.3s ease-in-out;
}

.picture img {
  max-height: 100%;
  width: auto;
  position: relative;
  right: 25%;
}

.textwrapper {
  position: relative;
  bottom: 29px;
  right: -9px;
  visibility: hidden;
  height: 24px;
  overflow: scroll;
}

.textwrapper p {
  font-size: 17px;
  font-weight: 700;
  color: white;
  height: 100%;
  width: 150%;
}

.picture:hover .textwrapper {
  visibility: visible;
}
