<!DOCTYPE html>
<html>
<head>
  <title>Photogur</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<header>
  <p>Ilia's Photogur</p>
  <ul>
    <a href="/pictures/new">New picture</a>
    <!-- <a href="/">About</a> -->
    <!-- <a href="/">Search</a> -->
  </ul>


</header>

<body class="bgcolor">

<%= yield %>

</body>

<footer>Copyright Ilia Demertchian 2017</footer>
</html>
