<!DOCTYPE html>
<html>
<head>
  <title>Photogur</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="favicon.ico"/>
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
</head>
<header>
  <p id="logo">Photogur</p>
<ul>
  <a href="/pictures/new">New picture</a>
  <p>|</p>
  <a href="/">About</a>
</ul>




</header>

<body class="bgcolor">

<%= yield %>

</body>

<footer>Copyright Ilia Demertchian 2017</footer>
</html>
